ITI_Website/trainee_app/__pycache__/__init__.cpython-313.pyc
ITI_Website/trainee_app/__pycache__/admin.cpython-313.pyc
ITI_Website/trainee_app/__pycache__/apps.cpython-313.pyc
ITI_Website/trainee_app/__pycache__/models.cpython-313.pyc
ITI_Website/trainee_app/__pycache__/views.cpython-313.pyc
ITI_Website/trainee_app/migrations/__pycache__/__init__.cpython-313.pyc
ITI_Website/ITI_Website/__pycache__/__init__.cpython-313.pyc
ITI_Website/ITI_Website/__pycache__/settings.cpython-313.pyc
ITI_Website/ITI_Website/__pycache__/urls.cpython-313.pyc
ITI_Website/ITI_Website/__pycache__/views.cpython-313.pyc
ITI_Website/ITI_Website/__pycache__/wsgi.cpython-313.pyc
ITI_Website/course_app/__pycache__/__init__.cpython-313.pyc
ITI_Website/course_app/__pycache__/admin.cpython-313.pyc
ITI_Website/course_app/__pycache__/apps.cpython-313.pyc
ITI_Website/course_app/__pycache__/models.cpython-313.pyc
ITI_Website/course_app/__pycache__/views.cpython-313.pyc
ITI_Website/course_app/migrations/__pycache__/__init__.cpython-313.pyc
ITI_Website/trainee_app/migrations/__init__.py
ITI_Website/trainee_app/__init__.py
ITI_Website/ITI_Website/__init__.py
ITI_Website/course_app/__init__.py
ITI_Website/course_app/migrations/__init__.py
ITI_Website/.vscode/settings.json
ITI_Website/course_app/__pycache__/urls.cpython-313.pyc
ITI_Website/course_app/migrations/__pycache__/0001_initial.cpython-313.pyc
ITI_Website/trainee_app/migrations/__pycache__/0001_initial.cpython-313.pyc
ITI_Website/trainee_app/__pycache__/urls.cpython-313.pyc
