ITI_Website/.vscode/settings.json
ITI_Website/ITI_Website/__pycache__/*.*
ITI_Website/trainee_app/__pycache__/*.*
ITI_Website/trainee_app/migrations/__pycache__/*.*
ITI_Website/trainee_app/__pycache__/urls.cpython-313.pyc
ITI_Website/course_app/__pycache__/*.*
ITI_Website/course_app/migrations/__pycache__/*.*