{% extends 'base.html' %} {% block title %}Courses{% endblock %}
{% block header%}
<a class="nav-link" href="{% url 'home' %}">Home</a>
<a class="nav-link" href="{% url 'trainee' %}">Trainees</a>
<a class="nav-link active" href="{% url 'course' %}">Courses</a>
<a class="nav-link" href="{% url 'logout' %}">Logout</a>
{% endblock %} {% block content %}
<section>
    <h3 class="text-center mb-5">Courses Table</h3>
    <div class="col-md-12 mx-auto overflow-auto">
        <table class="table table-dark table-hover table-striped-columns text-center table align-middle">
            <thead>
                <tr class="text-center align-middle">
                    <th scope="col">ID</th>
                    <th scope="col" width="20%">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col" width="15%">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col" width="15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <th scope="row">{{ course.id }}</th>
                    <td class="text-capitalize">{{ course.name }}</td>
                    <td class="text-capitalize">{{ course.level }}</td>
                    <td>{{ course.start_date }}</td>
                    <td>{{ course.end_date }}</td>
                    <td>
                        <a href="{% url 'update_course' course.id %}" class="btn btn-success m-1">Edit</a>
                        <a href="{% url 'delete_course' course.id %}" class="btn btn-danger m-1">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'insert_course' %}" class="btn btn-success">Add New Course</a>
</section>
{% endblock %}