{% extends 'base.html' %}
{% block title %}Add Course{% endblock %}
{% block header %}
<a class="nav-link active" href="{% url 'home' %}">Home</a>
{% if request.user.is_authenticated %}
<a class="nav-link" href="{% url 'trainee' %}">Trainees</a>
<a class="nav-link" href="{% url 'course' %}">Courses</a>
<a class="nav-link" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="nav-link" href="{% url 'login' %}">Login</a>
<a class="nav-link" href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock %}
{% block content %}
<section>
    <h3 class="text-center mb-5">Insert New Course</h3>
    <form class="w-50 mx-auto" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="courseName" class="form-label">Course Name</label>
            <input type="text" class="form-control bg-dark-subtle focus-ring" id="courseName" name="courseName" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25);
                            --bs-focus-ring-x: 10px;
                            --bs-focus-ring-y: 10px;
                            --bs-focus-ring-blur: 4px" required value="{{ course.name }}" />
        </div>
        <div class="mb-3">
            <label for="courseLevel" class="form-label">Course Level</label>
            <select class="form-select bg-dark-subtle focus-ring" id="courseLevel" name="courseLevel" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25);
                            --bs-focus-ring-x: 10px;
                            --bs-focus-ring-y: 10px;
                            --bs-focus-ring-blur: 4px" required>
                            <option value="Beginner" {% if course.level == "Beginner" %} selected {% endif %}>Beginner</option>
                            <option value="Intermediate" {% if course.level == "Intermediate" %} selected {% endif %}>Intermediate</option>
                            <option value="Advanced" {% if course.level == "Advanced" %} selected {% endif %}>Advanced</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="courseStart" class="form-label">Start Date</label>
            <input type="date" class="form-control bg-dark-subtle focus-ring" id="courseStart" name="courseStart" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25);
                            --bs-focus-ring-x: 10px;
                            --bs-focus-ring-y: 10px;
                            --bs-focus-ring-blur: 4px" required value="{{ course.start_date|date:'Y-m-d' }}" />
        </div>
        <div class="mb-3">
            <label for="courseEnd" class="form-label">End Date</label>
            <input type="date" class="form-control bg-dark-subtle focus-ring" id="courseEnd" name="courseEnd" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), 0.25);
                            --bs-focus-ring-x: 10px;
                            --bs-focus-ring-y: 10px;
                            --bs-focus-ring-blur: 4px" required value="{{ course.end_date|date:'Y-m-d' }}" />
        </div>
        <button type="submit" class="d-block btn btn-success w-50 mx-auto">Update Course</button>
    </form>
</section>
{% endblock %}